{% extends "layout.html" %}
{% block content %}

<div class="show-top-grids">
	<div class="main-grids news-main-grids">
		<div class="recommended-info">
			<h3>Sources And References</h3>
			<p class="history-text">We have uploaded the videos and study material of top quality from the best
				educators who have pursued their education in deemed Universities like NITs ,IITs ,etc.
			</p>
			<div class="history-grids">
				<div class="col-md-1 history-left">
					<p>Pranav Bedre</p>
				</div>
				<div class="col-md-11 history-right">
					<h5>Domain:Chemical Engineering</h5>
					<p>PhD in Chemical Engineering,MIT</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="history-grids">
				<div class="col-md-1 history-left">
					<p>PHP Shivappa</p>
				</div>
				<div class="col-md-11 history-right">
					<h5>Domain:Web Development</h5>
					<p>Msc in Lorem Ipsum in JSS S&TU</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="history-grids">
				<div class="col-md-1 history-left">
					<p>Vivek Navale</p>
				</div>
				<div class="col-md-11 history-right">
					<h5>Domain:Machine Learning</h5>
					<p>Senior Graduate in Machine Learning, Graduated from IIT Roorkela</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="history-grids">
				<div class="col-md-1 history-left">
					<p>Rishitha Ramesh</p>
				</div>
				<div class="col-md-11 history-right">
					<h5>Domain:Ethical Hacking</h5>
					<p>Ethical Hacker,Msc in Networking Concepts from JSS S&TU </p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="history-grids">
				<div class="col-md-1 history-left">
					<p> Prahasith</p>
				</div>
				<div class="col-md-11 history-right">
					<h5>Domain:Cloud Computing</h5>
					<p>PhD in Cloud Computing from MIT</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}