<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script
    type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>


  <!-- Bootstrap CSS -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel='stylesheet' type='text/css' media="all" />
  <!-- //bootstrap -->
  <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
  <!-- Custom Theme files -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel='stylesheet' type='text/css' media="all" />
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

  {% if title %}
  <title>EdVenture - {{ title }}</title>
  {% else %}
  <title>EdVenture</title>
  {% endif %}
</head>

<body>
  <header class="site-header">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
            aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <h1><img src="{{ url_for('static', filename='images/EdVenture.png') }}" style="height:60px"
                ,style="width:100px" alt="" /></h1>
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <div class="top-search">
            <form class="navbar-form navbar-right">
              <input type="text" class="form-control" placeholder="Search for course!">
              <input type="submit" value=" ">
            </form>
          </div>
          <div class="header-top-right">
            {% if current_user.is_authenticated %}
            <div class="signin">
              <a href="{{ url_for('account') }}" class="play-icon">Account</a>
            </div>
            <div class="signin">
              <a href="{{ url_for('logout') }}" class="play-icon">Log Out</a>
            </div>
            {% else %}
            <div class="signin">
              <a href="{{ url_for('register') }}" class="play-icon">Sign Up</a>
            </div>
            <div class="signin">
              <a href="{{ url_for('login') }}" class="play-icon">Sign In</a>
            </div>

            {% endif %}
            <div class="clearfix"> </div>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </nav>
  </header>
  <div class="col-sm-3 col-md-2 sidebar">
    <div class="top-navigation">
      <div class="t-menu">MENU</div>
      <div class="t-img">
        <img src="{{ url_for('static', filename='images/lines.png') }}" alt="" />
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="drop-navigation drop-navigation">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="/" class="home-icon"><span class="glyphicon glyphicon-home"
              aria-hidden="true"></span>Home</a></li>
        <li><a href="/history" class="sub-icon"><span class="glyphicon glyphicon-home glyphicon-hourglass"
              aria-hidden="true"></span>Sources and References</a></li>
        <li><a href="#" class="menu1"><span class="glyphicon glyphicon-film" aria-hidden="true"></span>Tutorial<span
              class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a></li>
        <ul class="cl-effect-2">
          <li><a href="/movies">Software</a></li>
          <li><a href="/movies">Hardware</a></li>
          <li><a href="/movies">Graphic Designing</a></li>
        </ul>
        <!-- script-for-menu -->
        <script>
          $("li a.menu1").click(function () {
            $("ul.cl-effect-2").slideToggle(300, function () {
              // Animation complete.
            });
          });
        </script>
        <li><a href="#" class="menu"><span class="glyphicon glyphicon-film glyphicon-king"
              aria-hidden="true"></span>Classroom<span class="glyphicon glyphicon-menu-down"
              aria-hidden="true"></span></a></li>
        <ul class="cl-effect-1">
          <li><a href="/movies">Software</a></li>
          <li><a href="/movies">Hardware</a></li>
          <li><a href="/movies">Graphic Designing</a></li>
        </ul>
        <!-- script-for-menu -->
        <script>
          $("li a.menu").click(function () {
            $("ul.cl-effect-1").slideToggle(300, function () {
              // Animation complete.
            });
          });
        </script>
        <li><a href="/ask" class="song-icon"><span class="glyphicon glyphicon-question-sign"
              aria-hidden="true"></span>Ask Experts</a></li>
        <li><a href="/about" class="news-icon"><span class="glyphicon glyphicon-envelope"
              aria-hidden="true"></span>About
            Us</a></li>
      </ul>
      <!-- script-for-menu -->
      <script>
        $(".top-navigation").click(function () {
          $(".drop-navigation").slideToggle(300, function () {
            // Animation complete.
          });
        });
      </script>
      <div class="side-bottom">
        <div class="side-bottom-icons">
          <ul class="nav2">
            <li><a href="#" class="facebook"> </a></li>
            <li><a href="#" class="facebook twitter"> </a></li>
            <li><a href="#" class="facebook chrome"> </a></li>
            <li><a href="#" class="facebook dribbble"> </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- <main role="main" class="container"> -->
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="main-grids">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      {% block content %}{% endblock content %}
    </div>
    <!-- footer -->
    <div class="footer">
      <div class="footer-grids">
        <div class="footer-top">
          <div class="footer-top-nav">
            <ul>
              <li><a href="about">About</a></li>
              <li><a href="press">Press</a></li>
              <li><a href="copyright">Copyright</a></li>
              <li><a href="creators">Creators</a></li>
              <li><a href="#">Advertise</a></li>
              <li><a href="developers">Developers</a></li>
            </ul>
          </div>
          <div class="footer-bottom-nav">
            <ul>
              b <li><a href="terms">Terms</a></li>
              <li><a href="privacy">Privacy</a></li>
              <li><a href="#small-dialog4" class="play-icon popup-with-zoom-anim">Send feedback</a>
              </li>
              <li><a href="privacy">Policy & Safety </a></li>
              <li><a href="try">Try something new!</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- //footer -->
  </div>
  <div class="clearfix"> </div>
  <div class="drop-menu">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu4">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Regular link</a></li>
      <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">Disabled link</a>
      </li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another link</a></li>
    </ul>
  </div>
  <!-- </main> -->


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script> -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>


</body>

</html>