{% extends "layout.html" %}
{% block content %}
<div class="col-sm-10 show-grid-left main-grids">
	<div class="recommended">
		<div class="recommended-grids english-grid">
			<div class="recommended-info">
				<div class="heading">
					<h3>Recommended Courses</h3>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-3 resent-grid recommended-grid movie-video-grid">
				<div class="resent-grid-img recommended-grid-img">
					<a href="/single"><img src="{{ url_for('static', filename='images/r6.jpg') }}" alt="" /></a>
					<div class="time small-time show-time movie-time">
						<p>7:34</p>
					</div>
					<div class="clck movie-clock">
						<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
					</div>
				</div>
				<div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
					<h5><a href="/single" class="title">Crash Course on Engineering Chemistry</a></h5>
					<ul>
						<li>
							<p class="author author-info"><a href="#" class="author">John Maniya</a></p>
						</li>
						<li class="right-list">
							<p class="views views-info">114,200 views</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 resent-grid recommended-grid movie-video-grid">
				<div class="resent-grid-img recommended-grid-img">
					<a href="/single"><img src="{{ url_for('static', filename='images/r6.jpg') }}" alt="" /></a>
					<div class="time small-time show-time movie-time">
						<p>9:34</p>
					</div>
					<div class="clck movie-clock">
						<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
					</div>
				</div>
				<div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
					<h5><a href="/single" class="title">JAVA in 8 weeks</a></h5>
					<ul>
						<li>
							<p class="author author-info"><a href="#" class="author">John Abraham</a></p>
						</li>
						<li class="right-list">
							<p class="views views-info">2,104,200 views</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 resent-grid recommended-grid movie-video-grid">
				<div class="resent-grid-img recommended-grid-img">
					<a href="/single"><img src="{{ url_for('static', filename='images/r6.jpg') }}" alt="" /></a>
					<div class="time small-time show-time movie-time">
						<p>3:04</p>
					</div>
					<div class="clck movie-clock">
						<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
					</div>
				</div>
				<div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
					<h5><a href="/single" class="title">Python for Data Sciences</a></h5>
					<ul>
						<li>
							<p class="author author-info"><a href="#" class="author">Vivek R Navale</a></p>
						</li>
						<li class="right-list">
							<p class="views views-info">2,114,250 views</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 resent-grid recommended-grid movie-video-grid">
				<div class="resent-grid-img recommended-grid-img">
					<a href="/single"><img src="{{ url_for('static', filename='images/r6.jpg') }}" alt="" /></a>
					<div class="time small-time show-time movie-time">
						<p>2:06</p>
					</div>
					<div class="clck movie-clock">
						<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
					</div>
				</div>
				<div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
					<h5><a href="/single" class="title">Machine Learning for Beginners</a></h5>
					<ul>
						<li>
							<p class="author author-info"><a href="#" class="author">Pranav Bedre</a></p>
						</li>
						<li class="right-list">
							<p class="views views-info">74,200 views</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="recommended">
		<div class="recommended-grids">
			<div class="recommended-info">
				<div class="heading">
					<h3>3 Credit Courses</h3>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-3 resent-grid recommended-grid movie-video-grid">
				<div class="resent-grid-img recommended-grid-img">
					<a href="/single"><img src="{{ url_for('static', filename='images/r6.jpg') }}" alt="" /></a>
					<div class="time small-time show-time movie-time">
						<p>2:34</p>
					</div>
					<div class="clck movie-clock">
						<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
					</div>
				</div>
				<div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
					<h5><a href="/single" class="title">Joy of Computing with Python</a></h5>
					<ul>
						<li>
							<p class="author author-info"><a href="#" class="author">Pruthvi H P Shivappa</a></p>
						</li>
						<li class="right-list">
							<p class="views views-info">87,200 views</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 resent-grid recommended-grid movie-video-grid">
				<div class="resent-grid-img recommended-grid-img">
					<a href="/single"><img src="{{ url_for('static', filename='images/r6.jpg') }}" alt="" /></a>
					<div class="time small-time show-time movie-time">
						<p>3:45</p>
					</div>
					<div class="clck movie-clock">
						<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
					</div>
				</div>
				<div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
					<h5><a href="/single" class="title">Ethical Hacking</a></h5>
					<ul>
						<li>
							<p class="author author-info"><a href="#" class="author">Jofra Archer</a></p>
						</li>
						<li class="right-list">
							<p class="views views-info">4,200 views</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 resent-grid recommended-grid movie-video-grid">
				<div class="resent-grid-img recommended-grid-img">
					<a href="/single"><img src="{{ url_for('static', filename='images/r6.jpg') }}" alt="" /></a>
					<div class="time small-time show-time movie-time">
						<p>7:34</p>
					</div>
					<div class="clck movie-clock">
						<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
					</div>
				</div>
				<div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
					<h5><a href="/single" class="title">Crash Course on Engineering Mathematics</a></h5>
					<ul>
						<li>
							<p class="author author-info"><a href="#" class="author">Anurag A VAidya</a></p>
						</li>
						<li class="right-list">
							<p class="views views-info">914,200 views</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 resent-grid recommended-grid movie-video-grid">
				<div class="resent-grid-img recommended-grid-img">
					<a href="/single"><img src="{{ url_for('static', filename='images/r6.jpg') }}" alt="" /></a>
					<div class="time small-time show-time movie-time">
						<p>6:30</p>
					</div>
					<div class="clck movie-clock">
						<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
					</div>
				</div>
				<div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
					<h5><a href="/single" class="title">Frontend WebDevelopment</a></h5>
					<ul>
						<li>
							<p class="author author-info"><a href="#" class="author">Prahasith</a></p>
						</li>
						<li class="right-list">
							<p class="views views-info">210,114,200 views</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="recommended">
		<div class="recommended-grids">
			<div class="recommended-info">
				<div class="heading">
					<h3>2 Credit Courses</h3>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-3 resent-grid recommended-grid movie-video-grid">
				<div class="resent-grid-img recommended-grid-img">
					<a href="/single"><img src="{{ url_for('static', filename='images/r6.jpg') }}" alt="" /></a>
					<div class="time small-time show-time movie-time">
						<p>2:34</p>
					</div>
					<div class="clck movie-clock">
						<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
					</div>
				</div>
				<div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
					<h5><a href="/single" class="title">OOPS Using C++</a></h5>
					<ul>
						<li>
							<p class="author author-info"><a href="#" class="author">Rishitha</a></p>
						</li>
						<li class="right-list">
							<p class="views views-info">314,200 views</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 resent-grid recommended-grid movie-video-grid">
				<div class="resent-grid-img recommended-grid-img">
					<a href="/single"><img src="{{ url_for('static', filename='images/r6.jpg') }}" alt="" /></a>
					<div class="time small-time show-time movie-time">
						<p>3:45</p>
					</div>
					<div class="clck movie-clock">
						<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
					</div>
				</div>
				<div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
					<h5><a href="/single" class="title">Python Django</a></h5>
					<ul>
						<li>
							<p class="author author-info"><a href="#" class="author">Maniya</a></p>
						</li>
						<li class="right-list">
							<p class="views views-info">14,200 views</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 resent-grid recommended-grid movie-video-grid">
				<div class="resent-grid-img recommended-grid-img">
					<a href="/single"><img src="{{ url_for('static', filename='images/r6.jpg')}}" alt="" /></a>
					<div class="time small-time show-time movie-time">
						<p>7:34</p>
					</div>
					<div class="clck movie-clock">
						<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
					</div>
				</div>
				<div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
					<h5><a href="/single" class="title">Introduction to AI</a></h5>
					<ul>
						<li>
							<p class="author author-info"><a href="#" class="author">Jeffery</a></p>
						</li>
						<li class="right-list">
							<p class="views views-info">2,200 views</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 resent-grid recommended-grid movie-video-grid">
				<div class="resent-grid-img recommended-grid-img">
					<a href="/single"><img src="{{ url_for('static', filename='images/r6.jpg') }}" alt="" /></a>
					<div class="time small-time show-time movie-time">
						<p>6:30</p>
					</div>
					<div class="clck movie-clock">
						<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
					</div>
				</div>
				<div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
					<h5><a href="/single" class="title">Flask in 3 weeks</a></h5>
					<ul>
						<li>
							<p class="author author-info"><a href="#" class="author">Anagha</a></p>
						</li>
						<li class="right-list">
							<p class="views views-info">14,200 views</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="recommended">
		<div class="recommended-grids">
			<div class="recommended-info">
				<div class="heading">
					<h3>1.5 Credit Courses</h3>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-3 resent-grid recommended-grid movie-video-grid">
				<div class="resent-grid-img recommended-grid-img">
					<a href="/single"><img src="{{ url_for('static', filename='images/r6.jpg') }}" alt="" /></a>
					<div class="time small-time show-time movie-time">
						<p>5:32</p>
					</div>
					<div class="clck movie-clock">
						<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
					</div>
				</div>
				<div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
					<h5><a href="/single" class="title">Data Structures In C</a></h5>
					<ul>
						<li>
							<p class="author author-info"><a href="#" class="author">Johnny</a></p>
						</li>
						<li class="right-list">
							<p class="views views-info">9,200 views</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 resent-grid recommended-grid movie-video-grid">
				<div class="resent-grid-img recommended-grid-img">
					<a href="/single"><img src="{{ url_for('static', filename='images/r6.jpg')}}" alt="" /></a>
					<div class="time small-time show-time movie-time">
						<p>2:34</p>
					</div>
					<div class="clck movie-clock">
						<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
					</div>
				</div>
				<div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
					<h5><a href="/single" class="title">Engineering Physics</a></h5>
					<ul>
						<li>
							<p class="author author-info"><a href="#" class="author">Sam</a></p>
						</li>
						<li class="right-list">
							<p class="views views-info">200 views</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 resent-grid recommended-grid movie-video-grid movie-video-grid-left">
				<div class="resent-grid-img recommended-grid-img">
					<a href="/single"><img src="{{ url_for('static', filename='images/r6.jpg')}}" alt="" /></a>
					<div class="time small-time show-time movie-time">
						<p>8:26</p>
					</div>
					<div class="clck movie-clock">
						<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
					</div>
				</div>
				<div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
					<h5><a href="/single" class="title">Engineering Chemistry</a></h5>
					<ul>
						<li>
							<p class="author author-info"><a href="#" class="author">Joey</a></p>
						</li>
						<li class="right-list">
							<p class="views views-info">2,110 views</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 resent-grid recommended-grid movie-video-grid movie-video-grid-right">
				<div class="resent-grid-img recommended-grid-img">
					<a href="/single"><img src="{{ url_for('static', filename='images/r6.jpg')}}" alt="" /></a>
					<div class="time small-time show-time movie-time">
						<p>3:44</p>
					</div>
					<div class="clck movie-clock">
						<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
					</div>
				</div>
				<div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
					<h5><a href="/single" class="title">Mythology</a></h5>
					<ul>
						<li>
							<p class="author author-info"><a href="#" class="author">Hades</a></p>
						</li>
						<li class="right-list">
							<p class="views views-info">2,140 views</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<div class="col-md-2 show-grid-right">
</div>
<div class="clearfix"> </div>
{% endblock content %}